.main {
    padding: 1rem;
    .title {
        display: flex;
        align-items: center;
        .span {
            margin-left: 10px;
            font-size: 30px;
        }
    }
    .button {
        display: flex;
        align-items: center;
        box-shadow: none;
        background-color: #fff;
        border: 2px solid #dedede;
        margin: 0;
        padding: 0;
        cursor: pointer;
        span {
            display: inline-block;
            margin: 0;
            padding: 10px 20px;
            list-style: none;
            text-align: center;
            position: relative;
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
        div {
            position: relative;
            width: 38px;
            height: 38px;
            background: #ebeaea;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: #000;
                width: 20px;
                height: 20px;
            }
        }
    }
    .countryDetails {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        @media screen and (max-width: 768px) {
            display: block;
        }
        .imageBlocks {
            display: flex;
            align-items: flex-start;
            text-align: center;
            @media screen and (max-width: 768px) {
                justify-content: center;
            }
            div {
                padding-top: 15px;
                padding-right: 15px;
            }
        }
        .details {
            margin-left: 20px;
            border: 1px solid #dedede;
            min-width: 60%;
            @media screen and (max-width: 768px) {
                margin-left: 0;
            }
            p {
                margin: 0;
                font-size: 16px;
                padding: 10px 1rem;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
            }
        }
    }
    .bordersBlock {
        .border {
            display: inline-flex;
            align-items: center;
            border: 1px solid #dedede;
            padding: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            min-width: 267px;
            .borderDetails {
                margin-left: 10px;
                p {
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
}
